<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <header>
      <div>
        <nav>
          <a routerLink="/demoUtilerias">utilerias</a>
          <a routerLink="/vuelos">vuelos</a>
          <a routerLink="/personas">personas</a>
          <a routerLink="/matematico">Math</a>
        </nav>
      </div>
    </header>
    <content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </content>
    <footer>
      <p appCopyright></p>
    </footer>
  </main>
</body>
</html>
